
.speech {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}


.direction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    background-color: lightyellow;
}


.direction:hover {
    background-color: lightblue;
    color: white;
}


.srilakshmi {
    color: blue;
}


.alexander-serebrakoff {
    color: darkred;
}

.helena {
    color: purple;
}

.sonia {
    color: darkcyan;
}

.mme-voitskaya {
    color: darkorange;
}

.ivan-voitski {
    color: darkgreen;
}

.michael-astroff {
    color: darkblue;
}

.ilia-telegin {
    color: darkmagenta;
}

.marina {
    color: darkgoldenrod;
}

.workman {
    color: darkslategray;
}
.character-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.character-table th,
.character-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.character-table th {
    background-color: #f2f2f2;
}

.character-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.character:hover {
    text-shadow: 2px 2px 4px #FF4500; /* Apply a shadow with an interesting color and blur */
    border: 1px solid #FF4500; /* Apply an interesting border */
}